div {
    position: absolute;
    top: 120px;
    left: 750px;
    color: white;
}

div img {
    height: 135px;
    margin-left: 250px;
    margin-bottom: 45px;
}

h1 {
    max-width: 100%;
    font-size: 35px;
    margin-bottom: 35px;
    font-weight: 100;
}

p {
    margin-bottom: 35px;
    max-width: 100%;
    font-weight: 100;
}

button {
    background-color: #ff8124;
    border: none;
    color: white;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}